In [1]:
import os
import pandas as pd
import numpy as np
import datetime
from datetime import time

In [87]:
renfe = pd.read_csv("../Data/renfe_clean_1.csv")

In [3]:
renfe.head(2)

,origin,destination,departure_date,departure_time,price,price_check_date,price_check_time,train_type,ticket_class,fare,route,abb_departure_date,abb_departure_time,semi_identifier
0,MAD,SEV,2019-05-29,06:20:00,38.55,2019-04-19,05:31:43,AV City,Turista,Promo,MAD-SEV,29-05,06:20,29-05_06:20
1,MAD,SEV,2019-05-29,07:00:00,53.40,2019-04-19,05:31:43,AVE,Turista,Promo,MAD-SEV,29-05,07:00,29-05_07:00

#### Understanding better the dataset. Only common denominator in the renfe's dataset route network is Madrid

In [88]:
renfe[(renfe["origin"]=="VALENCIA") & (renfe["destination"]=="BARCELONA")].head()

Empty DataFrame
Columns: [origin, destination, departure_date, departure_time, price, price_check_date, price_check_time, train_type, ticket_class, fare, route, abb_departure_date, abb_departure_time, semi_identifier]
Index: []

#### Checking for strange/unusual departing times

In [89]:
tst = renfe[(renfe["route"]=="MAD-BAR")]

In [90]:
tst.semi_identifier.value_counts()

06-06_07:15    485
07-06_07:15    483
03-06_07:15    482
04-06_07:15    481
05-06_07:15    479
01-06_12:30    478
01-06_06:20    478
01-06_11:30    478
01-06_13:25    478
01-06_10:30    478
01-06_15:30    478
01-06_07:30    478
01-06_18:30    478
01-06_16:30    478
01-06_08:30    478
01-06_19:30    478
01-06_17:30    478
01-06_09:30    478
18-05_08:30    477
18-05_18:30    477
18-05_17:30    477
18-05_20:30    477
18-05_19:30    477
18-05_07:30    477
18-05_12:30    477
18-05_16:30    477
18-05_13:25    477
18-05_10:30    477
18-05_11:30    477
18-05_06:20    477
              ...
07-07_14:30      8
07-07_06:20      8
31-05_12:40      8
07-07_10:30      8
07-05_06:45      8
12-05_17:10      8
07-07_12:30      8
21-05_06:20      8
23-05_12:40      8
07-07_19:30      8
07-05_07:40      8
14-05_06:20      8
24-05_17:10      7
30-05_11:55      7
28-05_12:40      7
24-05_12:40      7
09-05_12:40      7
09-05_11:55      7
10-05_12:40      7
02-06_17:10      7
28-05_11:55      7
26-04_17:10      7
30-05_12:40      7
03-05_17:10      6
19-05_17:10      6
30-05_06:20      6
05-05_17:10      6
12-04_21:25      5
10-05_17:10      4
06-05_14:10      1
Name: semi_identifier, Length: 2342, dtype: int64

#### Indeed, most of the less repeated (pricely checked speaking through the web-scrapping procedure) are unusual times, as it can be seen above

In [92]:
renfe.departure_date.nunique()

87

In [93]:
renfe.route.count()

2566709

#### Let's just take a small sample from the whole dataset

In [27]:
renfe_2 = pd.read_csv("../Data/renfe_april_clean_1.csv")

In [28]:
renfe_2.route.count()

486860

In [29]:
renfe_2.groupby(["route"])["semi_identifier"].nunique()

route
BAR-MAD    410
MAD-BAR    450
MAD-PON     48
MAD-SEV    419
MAD-VAL    377
PON-MAD     84
SEV-MAD    411
VAL-MAD    311
Name: semi_identifier, dtype: int64

In [30]:
figure_1 = renfe_2.groupby(["route"])["semi_identifier"].nunique() / renfe_2.departure_date.nunique()

In [31]:
renfe_2.departure_date.nunique()

19

In [32]:
figure_1.to_frame()

         semi_identifier
route
BAR-MAD        21.578947
MAD-BAR        23.684211
MAD-PON         2.526316
MAD-SEV        22.052632
MAD-VAL        19.842105
PON-MAD         4.421053
SEV-MAD        21.631579
VAL-MAD        16.368421

In [33]:
figure_1.index

Index(['BAR-MAD', 'MAD-BAR', 'MAD-PON', 'MAD-SEV', 'MAD-VAL', 'PON-MAD',
       'SEV-MAD', 'VAL-MAD'],
      dtype='object', name='route')

In [34]:
figure_1 = figure_1.reindex(['MAD-BAR', 'MAD-PON', 'MAD-SEV', 'MAD-VAL', 'BAR-MAD', 'PON-MAD', 'SEV-MAD', 'VAL-MAD']).to_frame()

In [36]:
figure_1.round()

         semi_identifier
route
MAD-BAR             24.0
MAD-PON              3.0
MAD-SEV             22.0
MAD-VAL             20.0
BAR-MAD             22.0
PON-MAD              4.0
SEV-MAD             22.0
VAL-MAD             16.0

In [42]:
figure_1 = figure_1.rename(columns={"semi_identifier": "avg_daily_trains"})

In [43]:
figure_1

         avg_daily_trains
route
MAD-BAR         23.684211
MAD-PON          2.526316
MAD-SEV         22.052632
MAD-VAL         19.842105
BAR-MAD         21.578947
PON-MAD          4.421053
SEV-MAD         21.631579
VAL-MAD         16.368421

In [44]:
figure_1.to_csv("../Data/renfe_figure_1.csv")

In [37]:
renfe = pd.read_csv("../Data/renfe_clean_2.csv")

In [38]:
renfe.head(3)

,origin,destination,departure_date,departure_time,price,price_check_date,price_check_time,train_type,route,abb_departure_date,...,semi_identifier,departure_weekday,price_check_weekday,days_to_departure,train_category,ticket_class_category,fare_category,price_check_time_window,departure_time_window,departure_day
0,MAD,SEV,2019-05-29,06:20:00,38.55,2019-04-19,05:31:43,AV City,MAD-SEV,29-05,...,29-05_06:20,Wednesday,Friday,40,Long_distance,Economy,Fixed,Deep_night,Morning,weekday
1,MAD,SEV,2019-05-29,07:00:00,53.40,2019-04-19,05:31:43,AVE,MAD-SEV,29-05,...,29-05_07:00,Wednesday,Friday,40,High_speed,Economy,Fixed,Deep_night,Morning,weekday
2,MAD,SEV,2019-05-29,07:30:00,47.30,2019-04-19,05:31:43,AVE,MAD-SEV,29-05,...,29-05_07:30,Wednesday,Friday,40,High_speed,Economy,Fixed,Deep_night,Morning,weekday

#### Creating route dataframes for easier manipulation and saving them to csv to use them in further on

In [39]:
renfe.route.value_counts()

MAD-BAR    478605
MAD-SEV    411845
BAR-MAD    404947
MAD-VAL    398741
SEV-MAD    395250
VAL-MAD    321958
PON-MAD     90476
MAD-PON     64887
Name: route, dtype: int64

In [40]:
renfe_MAD_BAR = renfe[renfe["route"] == "MAD-BAR"]
renfe_MAD_PON = renfe[renfe["route"] == "MAD-PON"]
renfe_MAD_SEV = renfe[renfe["route"] == "MAD-SEV"]
renfe_MAD_VAL = renfe[renfe["route"] == "MAD-VAL"]
renfe_BAR_MAD = renfe[renfe["route"] == "BAR-MAD"]
renfe_PON_MAD = renfe[renfe["route"] == "PON-MAD"]
renfe_SEV_MAD = renfe[renfe["route"] == "SEV-MAD"]
renfe_VAL_MAD = renfe[renfe["route"] == "VAL-MAD"]

In [41]:
renfe_MAD_BAR.to_csv("../Data/renfe_MAD_BAR.csv", index=False)
renfe_MAD_PON.to_csv("../Data/renfe_MAD_PON.csv", index=False)
renfe_MAD_SEV.to_csv("../Data/renfe_MAD_SEV.csv", index=False)
renfe_MAD_VAL.to_csv("../Data/renfe_MAD_VAL.csv", index=False)
renfe_BAR_MAD.to_csv("../Data/renfe_BAR_MAD.csv", index=False)
renfe_PON_MAD.to_csv("../Data/renfe_PON_MAD.csv", index=False)
renfe_SEV_MAD.to_csv("../Data/renfe_SEV_MAD.csv", index=False)
renfe_VAL_MAD.to_csv("../Data/renfe_VAL_MAD.csv", index=False)